@(helloForm: Form[Application.Hello])

@import helper._

@main(title = "Application de calcul de points à la belotte") {
    
    <h1>Calcul de points belotte:</h1>
    
    @form(action = routes.Application.sayHello, args = 'id -> "helloform") {
        
        
<table BORDER="1 solid black">
        <tr>
        <td>
            <p> Couleur </p>
        </td>
            <td>
    @inputText(
        helloForm("as"),
        '_label -> "As"
    )
            </td>
            <td>

    @inputText(
        helloForm("dix"),
        '_label -> "Dix"
      
    )
        </td>
            <td>

    @inputText(
        helloForm("roi"),
        '_label -> "Roi"
      
    )
    </td>
            <td>

    @inputText(
        helloForm("dame"),
        '_label -> "Dame"
       
    )
    </td>
            <td>
    @inputText(
        helloForm("valet"),
        '_label -> "Valet"
      
    )
    </td>
            <td>

    @inputText(
        helloForm("9"),
        '_label -> "9"
    
    )
    </td>
            <td>

    @inputText(
        helloForm("8"),
        '_label -> "8"
     
    )
    </td>
            <td>

    @inputText(
        helloForm("7"),
        '_label -> "7"
      
    )
    </td>
            
        </tr>

          <tr>
        <td>
            <p> Atout </p>
        </td>
            <td>
    @inputText(
        helloForm("asA"),
        '_label -> "As"
    )
            </td>
            <td>

    @inputText(
        helloForm("dixA"),
        '_label -> "Dix"
      
    )
        </td>
            <td>

    @inputText(
        helloForm("roiA"),
        '_label -> "Roi"
      
    )
    </td>
            <td>

    @inputText(
        helloForm("dameA"),
        '_label -> "Dame"
       
    )
    </td>
            <td>
    @inputText(
        helloForm("valetA"),
        '_label -> "Valet"
      
    )
    </td>
            <td>

    @inputText(
        helloForm("neufA"),
        '_label -> "9"
    
    )
    </td>
            <td>

    @inputText(
        helloForm("huitA"),
        '_label -> "8"
     
    )
    </td>
            <td>

    @inputText(
        helloForm("septA"),
        '_label -> "7"
      
    )
    </td>
            
        </tr>
    </table>
        
        
        <p class="buttons">
            <input type="submit">
        <p>
        
    }
    
}