@(title: Html, nav: String = "")(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <style type="text/css">
    .row{
        margin:auto;
    }
        .container {
            width: 70%;
            margin:auto;
        }
        footer{
            position: fixed;
            bottom: 0px;
        }
        table tr td.input {
            width: 100px;
        }
        input {
            width: 50px;
        }

        form .clearfix {
            margin-bottom: 18px;
            zoom: 1;
            width: 200px;
            margin-left: -100px;
        }
    </style> 

    <body>
        
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="@routes.Application.index()">Convertisseurs</a>
                    <ul class="nav">
                        <li class="@("active".when(nav == "romain"))">
                            <a href="@routes.ConvEnRomain.blank()">En Romain</a>Jsuis un bg
                        </li>
                        <li class="@("active".when(nav == "decimal"))">
                            <a href="@routes.ConvEnDecimal.blank()">En Décimal</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
@if(! nav.equals("")) {                
            <div class="content">
                <div class="page-header">
                    <h1>@title</h1>
                </div>

                <div class="row">
                    <div class="span14">
                        @content
                    </div>
                </div>
            </div>
}
            <footer>
                <p>
                    Made by  Nicolas Vanalderweireldt & Oriana Meril <a href="http://www.playframework.com">www.playframework.com</a>
                </p>
            </footer>

        </div>
        
    </body>
</html>
